@media only screen and (max-width: 797px) {
    footer {
        display: none;
    }
    .navbar-nav {
        margin-top: 40px;
        font-size: small;
        text-align: center;
    }
    .logos-destacados {
        height: 20px;
    }

    .block-title {
        span {
        font-size: 20px; 
        }
    }

    .info {
        h4 {
        font-size: small;
        }
        span {
            font-size: smaller;
        }
    }

    .gallery-cell {
        img {
        height: 100px; 
        }
      }
  }