@import 'variables';
@import 'header';
@import 'footer';
@import 'mobile';

.seccion-body {
    margin-top: 50px;
}

.block-title {
    width: 100%; 
    height: 20px; 
    border-bottom: 2px solid black; 
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    span {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px; 
        background-color: #ffffff; 
        padding: 10px 10px;
    }
}

.logos-destacados {
    height: 50px;
}

.bl {
    border-left: 1px solid;
}

.animado {
    animation: 8s linear 1s infinite alternate slideid;
    animation-name: traslado;
    span {
        font-family: Arial, Helvetica, sans-serif;
        font-weight:bold; 
     }
}

@keyframes traslado {
    from {
      /* pushes the sun down past the viewport */
      transform: translateX(110vh);
    }
    to {
      /* returns the sun to its default position */
      transform: translateX(0);
    }
  }